<section id="change-password-form" class="hero-image">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()" class="hero-inner col-sm-6 col-md-4 col-xl-3">
        <h1 class="h3 mb-4 font-weight-normal text-center">Change Your Password</h1>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" autofocus formControlName="password" #password>

            <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="alert alert-danger">

                <div *ngIf="passwordInput.errors.required">
                    The password is required.
                </div>
                <div *ngIf="passwordInput.errors.minlength">
                    Your password must be at least 6 characters long.
                </div>
            </div>
        </div>

        <input [disabled]="!changePasswordForm.valid" type="submit" value="Submit" class="btn btn-primary" />
    </form>
</section>
