<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" routerLink="/">Deals for You!</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/promotions" (click)="resetSearchParamsToDefault()">Promotions</a>
      </li>
      <li class="nav-item" *ngIf="!userIsAuthenticated">
        <a class="nav-link" routerLink="/auth/login">Log In</a>
      </li>
      <li class="nav-item" *ngIf="!userIsAuthenticated">
        <a class="nav-link" routerLink="/auth/signup">Sign Up</a>
      </li>
      <li class="nav-item" *ngIf="userIsAuthenticated">
        <a class="nav-link" routerLink="/wishlist" (click)="resetSearchParamsToDefault()">Wishlist</a>
      </li>
      <li class="nav-item dropdown" autoClose="outside" *ngIf="userIsAuthenticated" ngbDropdown>
        <button class="nav-link dropdown-toggle btn btn-primary" ngbDropdownToggle>User</button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/auth/changepassword">Change Password</a>
          <button class="dropdown-item" (click)="onLogout()">Logout</button>
        </div>
      </li>
      <li class="nav-item dropdown" autoClose="outside" *ngIf="isListComponent" ngbDropdown>
        <button class="nav-link dropdown-toggle btn btn-primary" type="button" ngbDropdownToggle>Sort & Filter</button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <app-sort-filter></app-sort-filter>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="isListComponent">
      <li class="nav-item">
        <app-search-bar></app-search-bar>
      </li>
    </ul>
  </div>
</nav>

